In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
sns.set()
from sklearn.linear_model import LinearRegression

In [3]:
data = pd.read_csv('real_estate_price_size_year.csv')
data.head()

        price     size  year
0  234314.144   643.09  2015
1  228581.528   656.22  2009
2  281626.336   487.29  2018
3  401255.608  1504.75  2015
4  458674.256  1275.46  2009

In [6]:
x= data[['size','year']]
y= data['price']

In [9]:
from sklearn.preprocessing import StandardScaler
scaler= StandardScaler()
scaler.fit(x)
x_scaled= scaler.transform(x)

In [10]:
reg= LinearRegression()
reg.fit(x_scaled, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [11]:
reg.intercept_

292289.4701599997

In [12]:
reg.coef_

array([67501.57614152, 13724.39708231])

In [13]:
reg.score(x_scaled, y)

0.7764803683276793

In [14]:
def adj_r2(x, y):
    r2= reg.score(x, y)
    n= x.shape[0]
    p= x.shape[1]
    return 1-(1-r2)*(n-1)/(n-p-1)

In [15]:
adj_r2(x_scaled, y)

0.77187171612825

In [16]:
new_data= [[750, 2009]]
new_data_scaled= scaler.transform(new_data)
new_data_scaled

array([[-0.34752816, -0.76509206]])

In [17]:
reg.predict(new_data_scaled)

array([258330.34465995])

In [18]:
from sklearn.feature_selection import f_regression

In [19]:
f_regression(x_scaled, y)

(array([285.92105192,   0.85525799]), array([8.12763222e-31, 3.57340758e-01]))

In [21]:
p_values= f_regression(x_scaled, y)[1]
p_values

array([8.12763222e-31, 3.57340758e-01])

In [22]:
p_values.round(3)

array([0.   , 0.357])

In [25]:
summary= pd.DataFrame(data= x.columns.values, columns=['features'])
summary['Coefficients']= reg.coef_
summary['p_value']= p_values.round(3)
summary

  features  Coefficients  p_value
0     size  67501.576142    0.000
1     year  13724.397082    0.357